@use '../../variables';
@use '../../mixin';

.catalog-page .additional {
  position: relative;
  border-top: 2px solid var(--color-green);

  .title {
    @include mixin.font-oswald;

    font-size: 36px;
    line-height: 36px;
    position: absolute;
    top: -34px;
    left: 70px;
    width: max-content;
    padding: 10px 35px;
    text-transform: none;
    text-align: left;
    background-color: var(--color-white);

    @media (max-width: variables.$tablet-catalog) {
      left: 0;
    }

    @media (max-width: variables.$mobile-lg) {
      top: -27px;
      padding: 10px 22px;
      font-size: 24px;
      line-height: 24px;
    }
  }

  .wrapper {
    display: grid;
    grid-template-columns: 1fr 245px;
    gap: 80px;
    padding-top: 30px;
    padding-bottom: 30px;

    @media (max-width: variables.$desktop-lg) {
      grid-template-columns: 1fr;
    }

    @media (max-width: variables.$mobile-lg) {
      gap: 40px;
    }
  }

  .list {
    display: flex;
    flex-direction: column;
    width: 100%;

    @media (max-width: variables.$tablet-lg) {
      border: 1px solid var(--color-special-grey);
    }

    @media (max-width: variables.$mobile-lg) {
      border: 0;
    }
  }

  .item {
    display: grid;
    grid-template-columns: 1fr min(200px) min(60px) auto;
    justify-content: space-between;
    align-items: center;
    column-gap: 40px;
    padding: 15px 0;
    border-top: 1px solid var(--color-special-grey);
    text-align: left;

    &:last-child {
      border-bottom: 1px solid var(--color-special-grey);
    }

    .label {
      @include mixin.font-oswald;

      color: var(--color-catalog-title);

      @media (max-width: variables.$tablet-lg) {
        grid-area: label;
      }

      @media (max-width: variables.$mobile-lg) {
        font-size: 16px;
        line-height: 16px;
      }
    }

    .value {
      line-height: 20px;
      color: var(--color-dark-grey);

      @media (max-width: variables.$tablet-lg) {
        &.quantity {
          grid-area: quantity;
          text-align: end;
        }

        &.price {
          grid-area: price;
        }
      }

      @media (max-width: variables.$tablet-catalog) {
        &.quantity {
          text-align: left;
        }

        &.price {
          text-align: end;
        }
      }

      @media (max-width: variables.$mobile-lg) {
        font-size: 14px;
        line-height: 14px;
      }
    }

    .button {
      @include mixin.green-button;

      width: 244px;

      @media (max-width: variables.$tablet-lg) {
        grid-area: button;
        width: 100%;
      }
    }

    @media (max-width: variables.$tablet-lg) {
      grid-template-columns: 1fr min(200px) min(60px);
      grid-template-areas: 'label quantity price' 'button button button';
      row-gap: 27px;
      padding: 24px 37px;

      &:first-child {
        border-top: 0;
      }

      &:last-child {
        border-bottom: 0;
      }
    }

    @media (max-width: variables.$tablet-catalog) {
      grid-template-columns: 1fr 1fr;
      grid-template-areas: 'label label' 'quantity price' 'button button';
    }

    @media (max-width: variables.$mobile-lg) {
      row-gap: 13px;
      padding: 15px 0;

      &:first-child {
        border-top: 1px solid var(--color-special-grey);
      }

      &:last-child {
        border-bottom: 1px solid var(--color-special-grey);
      }
    }
  }

  .gift {
    position: relative;
    display: flex;
    align-items: flex-end;
    min-height: 289px;
    padding: 47px;
    background-image: url('/src/assets/images/icon_gift.svg');
    background-repeat: no-repeat;
    background-size: 80px;
    background-position: center 40px;

    @media (max-width: variables.$desktop-lg) {
      align-items: center;
      justify-content: flex-end;
      min-height: 200px;
      padding-right: 124px;
      background-size: 90px;
      background-position: 80px;
    }

    @media (max-width: variables.$tablet-catalog) {
      padding-right: 47px;
      background-position: 40px;
    }

    @media (max-width: variables.$mobile-lg) {
      padding: 40px 20px;
      min-height: 289px;
      align-items: flex-end;
      justify-content: center;
      background-size: 80px;
      background-position: center 40px;
    }

    .description {
      line-height: 20px;
      max-width: 161px;
      color: var(--color-white);
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      background-image: url('/src/assets/images/gift-photo-desktop.png');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;

      @media (max-width: variables.$desktop-lg) {
        background-image: url('/src/assets/images/gift-photo-tablet.png');
      }

      @media (max-width: variables.$mobile-lg) {
        background-image: url('/src/assets/images/gift-photo-mobile.png');
      }
    }
  }
}
