@use '../../variables';
@use '../../mixin';

.catalog-page {
  .title-wrapper {
    padding-top: 0;
    padding-bottom: 0;

    @media (max-width: variables.$tablet-catalog) {
      padding-top: 27px;
      border-top: 1px solid var(--color-light-grey);
    }
  }
}

.catalog-page .catalog {
  &-title {
    @include mixin.font-oswald;

    margin-bottom: 84px;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    text-transform: none;

    @media (max-width: variables.$tablet-catalog) {
      margin-bottom: 40px;
      font-size: 36px;
      line-height: 36px;
    }
  }

  .list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(245px, 1fr));
    gap: 80px;
    color: var(--color-dark-grey);

    @media (max-width: variables.$tablet-catalog) {
      grid-template-columns: 1fr;
      gap: 0;
    }

    .item {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      flex-grow: 1;
      min-width: 245px;
      padding: 0 40px 40px;

      @media (max-width: variables.$tablet-catalog) {
        display: grid;
        justify-content: normal;
        grid-template-columns: 140px auto;
        grid-template-areas:
          'image title'
          'image info '
          'button button';
        padding: 20px 0;
      }

      &::before {
        content: '';
        position: absolute;
        top: 15%;
        left: 0;
        width: 100%;
        height: 85%;
        background-color: var(--color-grey);
        z-index: -1;

        @media (max-width: variables.$tablet-catalog) {
          width: calc(100% + 60px);
          height: 1px;
          top: 0;
          transform: translateX(-30px);
          background-color: var(--color-special-grey-2);
        }
      }

      &:nth-child(even) .image {
        width: 172px;
        height: 202px;

        @media (max-width: variables.$tablet-catalog) {
          width: 86px;
          height: 101px;
        }
      }

      &:last-child {
        @media (max-width: variables.$tablet-catalog) {
          display: flex;
          align-items: center;
          padding-bottom: 25px;

          &::after {
            content: '';
            position: absolute;
            top: 0;
            border: 0;
            width: calc(100% + 60px);
            height: 1px;
            transform: translateX(-30px);
            background-color: var(--color-special-grey-2);
            z-index: -1;
          }
        }

        &::before {
          content: '';
          position: absolute;
          top: 15%;
          left: 0;
          width: 100%;
          height: 85%;
          border: 2px solid var(--color-grey);
          background-color: var(--color-white);
          z-index: -1;

          @media (max-width: variables.$tablet-catalog) {
            width: calc(100% + 60px);
            height: 1px;
            top: initial;
            bottom: 0;
            border: 0;
            transform: translateX(-30px);
            background-color: var(--color-special-grey-2);
          }
        }

        .plus {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 60px;
          height: 60px;
          margin-bottom: 60px;

          @media (max-width: variables.$tablet-catalog) {
            width: 30px;
            height: 30px;
            margin-bottom: 30px;
          }

          &-line {
            width: 100%;
            height: 2px;
            background-color: #d3d3d3;

            &:nth-child(2) {
              transform: rotate(90deg);
            }
          }
        }

        .title {
          margin-bottom: 23px;
          color: var(--color-catalog-last-title);

          @media (max-width: variables.$tablet-catalog) {
            max-width: 100%;
            font-size: 16px;
            text-wrap-mode: nowrap;
          }
        }

        .description {
          line-height: 18px;
          margin-bottom: 40px;

          @media (max-width: variables.$tablet-catalog) {
            font-size: 12px;
            line-height: 16px;
          }
        }

        .button {
          color: var(--color-dark-grey);
          background-color: var(--color-grey);
          text-wrap-mode: nowrap;

          &:focus,
          &:hover {
            outline: transparent;
            background-color: var(--color-special-grey-2);
          }

          &:active {
            color: var(--color-dark-grey-30);
            background-color: var(--color-special-grey-2);
          }

          @media (max-width: variables.$tablet-catalog) {
            width: 100%;
          }
        }
      }
    }

    .image {
      width: 161px;
      height: 172px;
      object-fit: contain;
      margin-bottom: 40px;

      @media (max-width: variables.$tablet-catalog) {
        grid-area: image;
        width: 68px;
        height: 86px;
      }
    }

    .title {
      @include mixin.font-oswald;

      max-width: 145px;
      margin-bottom: 20px;
      line-height: 21px;
      color: var(--color-catalog-title);

      @media (max-width: variables.$tablet-catalog) {
        grid-area: title;
        line-height: 20px;
        text-align: left;
      }
    }

    .info-wrapper {
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: 100%;
      margin-bottom: 33px;
      line-height: 16px;

      @media (max-width: variables.$tablet-catalog) {
        grid-area: info;
      }

      .content {
        display: flex;
        justify-content: space-between;
        padding-bottom: 10px;
        border-bottom: 1px solid var(--color-special-grey);

        @media (max-width: variables.$mobile-sm) {
          font-size: 12px;
          line-height: 16px;
          padding-bottom: 0;
          border-bottom: 0;
        }
      }
    }

    .button {
      @include mixin.font-oswald;

      padding: 10px 53px;
      min-height: 40px;
      font-size: 16px;
      color: var(--color-white);
      background-color: var(--color-green);
      transition:
        background-color 0.3s ease-in-out,
        color 0.3s ease-in-out;

      @media (max-width: variables.$tablet-catalog) {
        grid-area: button;
      }

      &:focus,
      &:hover {
        outline: transparent;
        background-color: var(--color-green-2);
      }

      &:active {
        color: var(--color-white-30);
        background-color: var(--color-green-2);
      }
    }
  }
}
