@use '../variables';
@use '../mixin';

.header {
  width: 100%;

  &.overlay {
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;

    .nav-link {
      color: var(--color-white);

      &.active {
        border-bottom: 2px solid var(--color-white);
      }
    }
  }

  .logo {
    &-link {
      display: block;
      outline: transparent;
      transition: opacity 0.3s ease-in-out;

      &:hover,
      &:focus {
        opacity: 0.8;
      }

      &:active {
        opacity: 0.6;
      }
    }
  }

  &-wrapper {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
  }

  .nav {
    display: flex;
    gap: 1rem;

    &-link {
      @include mixin.font-oswald;

      padding: 0.5rem 0;
      border-bottom: 2px solid transparent;
      outline: transparent;
      transition: opacity 0.3s ease-in-out;
      color: var(--color-black);

      &:hover,
      &:focus {
        opacity: 0.6;
      }

      &:active {
        opacity: 0.3;
      }

      &.active {
        border-bottom: 2px solid var(--color-green);
      }
    }

    @media (max-width: variables.$tablet-nav) {
      display: none;
    }
  }

  .burger {
    display: none;

    &-line {
      width: 24px;
      height: 1.5px;
      background-color: var(--color-black);
      transition: background-color 0.3s ease-in-out;
    }

    &:focus,
    &:hover {
      .burger-line {
        background-color: var(--color-green);
      }
    }

    &:active {
      transition: opacity 0.3s ease-in-out;
      opacity: 0.3;
    }

    @media (max-width: variables.$tablet-nav) {
      display: flex;
      flex-direction: column;
      gap: 5px;
      align-items: center;
      justify-content: center;
      width: 30px;
      height: 30px;
    }

    &.open {
      position: fixed;
      top: 41.67px;
      right: 30px;
      z-index: 101;
    }

    &.open + .nav {
      position: fixed;
      display: flex;
      flex-direction: column;
      width: 250px;
      padding: 140px 30px 60px;
      transform: translateX(-200px) translateY(-75px);
      background-color: var(--color-white);
      box-shadow: 0 0 15px 8px var(--color-grey);
      z-index: 100;
    }
  }
}
