@font-face {
  font-family: "Oswald";
  src: url("/assets/fonts/Oswald-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-white-30: #ffffff30;
  --color-green: #68b738;
  --color-green-2: #5eaa2f;
  --color-grey: #f2f2f2;
  --color-dark-grey: #444444;
  --color-light-grey: #d9d9d9;
  --color-grey-border: #e6e6e6;
  --color-grey-background: #eaeaea;
  --color-special-grey: #cdcdcd;
  --color-grey-track: #dcdcdc;
  --color-grey-background-tablet: #eaeaea;
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

img {
  max-width: 100%;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

button {
  cursor: pointer;
}

button,
input {
  padding: 0;
  border: none;
  background-color: transparent;
}
button:disabled,
input:disabled {
  cursor: default;
}

body {
  position: relative;
  overflow-x: hidden;
  max-width: 1440px;
  min-width: 320px;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.container {
  padding: 53px 110px;
  text-align: center;
}
@media (max-width: 1200px) {
  .container {
    padding: 42px 30px;
  }
}
@media (max-width: 768px) {
  .container {
    padding: 24px 30px;
  }
}
@media (max-width: 480px) {
  .container {
    padding: 20px 22px;
  }
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
}
@media (max-width: 1200px) {
  .header {
    position: relative;
  }
}
.header .logo-link {
  display: block;
  outline: transparent;
  transition: opacity 0.3s ease-in-out;
}
.header .logo-link:hover, .header .logo-link:focus {
  opacity: 0.8;
}
.header .logo-link:active {
  opacity: 0.6;
}
.header-wrapper {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}
.header .nav {
  display: flex;
  gap: 1rem;
}
@media (max-width: 760px) {
  .header .nav {
    display: none;
  }
}
.header .nav-link {
  padding: 0.5rem 0;
  border-bottom: 2px solid transparent;
  color: var(--color-white);
  outline: transparent;
  transition: opacity 0.3s ease-in-out;
  font-family: "Oswald";
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
}
.header .nav-link:hover, .header .nav-link:focus {
  opacity: 0.6;
}
.header .nav-link:active {
  opacity: 0.3;
}
@media (max-width: 1200px) {
  .header .nav-link {
    color: var(--color-black);
  }
}
.header .nav-link.active {
  border-bottom: 2px solid var(--color-white);
}
@media (max-width: 1200px) {
  .header .nav-link.active {
    border-bottom: 2px solid var(--color-green);
  }
}
.header .burger {
  display: none;
}
@media (max-width: 760px) {
  .header .burger {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 30px;
    height: 30px;
  }
}
.header .burger-line {
  width: 24px;
  height: 1.5px;
  background-color: var(--color-black);
}

.hero {
  position: relative;
}
@media (max-width: 420px) {
  .hero {
    display: flex;
    justify-content: center;
  }
}
.hero .content {
  position: relative;
  z-index: 9;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 414px;
  margin: 115px 80px;
}
@media (max-width: 1200px) {
  .hero .content {
    margin: 40px 80px;
  }
}
@media (max-width: 768px) {
  .hero .content {
    margin: 0px 80px calc(570px - (768px - 100vw) * 0.5) 80px;
  }
}
@media (max-width: 576px) {
  .hero .content {
    max-width: 249px;
    margin: 0 0 calc(20px - (576px - 100vw) * 0.5);
  }
}
@media (max-width: 420px) {
  .hero .content {
    align-items: center;
    max-width: 100%;
    margin: 0;
  }
}
.hero .content .title {
  margin-bottom: 40px;
  font-family: "Oswald";
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  font-size: 60px;
  line-height: 60px;
  text-transform: none;
  text-align: left;
}
@media (max-width: 480px) {
  .hero .content .title {
    margin-bottom: 25px;
    font-size: 32px;
    line-height: 32px;
  }
}
@media (max-width: 420px) {
  .hero .content .title {
    margin-bottom: 25px;
    text-align: center;
    color: var(--color-white);
  }
}
.hero .content .description {
  margin-bottom: 52px;
  font-family: "Oswald";
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
}
@media (max-width: 480px) {
  .hero .content .description {
    font-size: 14px;
    line-height: 14px;
  }
}
@media (max-width: 420px) {
  .hero .content .description {
    margin-bottom: 100vw;
    font-size: 14px;
    line-height: 14px;
    color: var(--color-white);
  }
}
.hero .content .link {
  display: block;
  padding: 24px 14px;
  color: var(--color-white);
  background-color: var(--color-green);
  outline: transparent;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  font-family: "Oswald";
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
}
.hero .content .link:hover, .hero .content .link:focus {
  background-color: var(--color-green-2);
}
.hero .content .link:active {
  background-color: var(--color-green-2);
  color: var(--color-white-30);
}
@media (max-width: 420px) {
  .hero .content .link {
    width: 280px;
  }
}
.hero-background-cat {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-image: url(/assets/images/cat.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}
@media (max-width: 1200px) {
  .hero-background-cat {
    display: none;
  }
}
@media (max-width: 420px) {
  .hero-background-cat {
    background-image: url(/assets/images/cat-mobile.png);
    display: block;
    background-position: top;
  }
}
.hero-background-glass {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url(/assets/images/glass.png);
  background-repeat: no-repeat;
  background-size: 552px;
  background-position: center bottom;
}
@media (max-width: 1200px) {
  .hero-background-glass {
    background-position: right bottom;
    right: 80px;
  }
}
@media (max-width: 992px) {
  .hero-background-glass {
    background-size: 452px;
    right: 40px;
  }
}
@media (max-width: 768px) {
  .hero-background-glass {
    background-size: 100%;
    right: 0;
  }
}
@media (max-width: 576px) {
  .hero-background-glass {
    background-size: 280px;
    background-position: right bottom;
  }
}
@media (max-width: 480px) {
  .hero-background-glass {
    background-size: 210px;
  }
}
@media (max-width: 420px) {
  .hero-background-glass {
    background-size: 100%;
    background-position: center 40vw;
  }
}
@media (max-width: 380px) {
  .hero-background-glass {
    background-position: center 50vw;
  }
}

@media (max-width: 576px) {
  .nutrition-programs {
    padding-top: 70px;
  }
}
@media (max-width: 420px) {
  .nutrition-programs {
    padding-top: 10px;
  }
}
.nutrition-programs .list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 80px;
}
@media (max-width: 1028px) {
  .nutrition-programs .list {
    grid-template-columns: 1fr;
  }
}
.nutrition-programs .item {
  position: relative;
  padding: 50px;
  background-color: var(--color-grey);
}
@media (max-width: 1260px) {
  .nutrition-programs .item {
    padding: 40px;
  }
}
@media (max-width: 1028px) {
  .nutrition-programs .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 50px;
  }
}
@media (max-width: 760px) {
  .nutrition-programs .item {
    padding: 40px;
  }
}
@media (max-width: 576px) {
  .nutrition-programs .item {
    padding: 22px;
  }
}
.nutrition-programs .item-content {
  max-width: 570px;
  text-align: left;
}
@media (max-width: 760px) {
  .nutrition-programs .item-content {
    max-width: 100%;
  }
}
.nutrition-programs .item-content hr {
  display: none;
  border: none;
  height: 1px;
  background-color: var(--color-light-grey);
  margin: 20px 0;
}
@media (max-width: 576px) {
  .nutrition-programs .item-content hr {
    display: block;
  }
}
.nutrition-programs .title {
  margin-top: 20px;
  margin-bottom: 60px;
  padding-left: 170px;
  font-family: "Oswald";
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  font-size: 36px;
  line-height: 36px;
}
@media (max-width: 1260px) {
  .nutrition-programs .title {
    padding-left: 0;
  }
}
@media (max-width: 1028px) {
  .nutrition-programs .title {
    margin-bottom: 30px;
  }
}
@media (max-width: 760px) {
  .nutrition-programs .title {
    margin-bottom: 60px;
    padding-left: 170px;
  }
}
@media (max-width: 576px) {
  .nutrition-programs .title {
    margin-top: 10px;
    margin-bottom: 30px;
    padding-left: 100px;
    font-size: 24px;
    line-height: 37px;
  }
}
.nutrition-programs .description {
  margin-bottom: 23px;
}
@media (max-width: 576px) {
  .nutrition-programs .description {
    font-size: 14px;
    line-height: 18px;
  }
}
@media (max-width: 576px) {
  .nutrition-programs .description {
    color: var(--color-dark-grey);
  }
}
.nutrition-programs .link {
  display: flex;
  align-items: center;
  outline: transparent;
}
.nutrition-programs .link:hover .link-arrow--line, .nutrition-programs .link:focus .link-arrow--line {
  transition: width 0.3s ease-in-out;
  width: 26px;
}
.nutrition-programs .link:active, .nutrition-programs .link:active {
  transition: opacity 0.3s ease-in-out;
  opacity: 0.3;
}
.nutrition-programs .link-content {
  margin-right: 20px;
  font-family: "Oswald";
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  line-height: 100%;
}
.nutrition-programs .link-arrow--line {
  display: block;
  width: 18px;
  height: 2px;
  transform: translateY(-0.5px);
  background-color: var(--color-black);
}
.nutrition-programs .link-arrow--tip {
  width: 12px;
  height: 9px;
  background-image: url("/assets/images/tip.png");
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
}
.nutrition-programs .image {
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
@media (max-width: 1260px) {
  .nutrition-programs .image {
    right: 40px;
  }
}
@media (max-width: 1028px) {
  .nutrition-programs .image {
    position: relative;
    top: 0;
    right: 0;
    flex-shrink: 0;
    background-position: right;
  }
}
@media (max-width: 760px) {
  .nutrition-programs .image {
    position: absolute;
  }
}
.nutrition-programs .image--cat-back {
  top: 35px;
  width: 100px;
  height: 106px;
  background-image: url("/assets/images/cat_back.svg");
}
@media (max-width: 1260px) {
  .nutrition-programs .image--cat-back {
    top: 25px;
  }
}
@media (max-width: 1028px) {
  .nutrition-programs .image--cat-back {
    top: 0;
    width: 200px;
    height: 211px;
  }
}
@media (max-width: 760px) {
  .nutrition-programs .image--cat-back {
    top: 25px;
    left: 25px;
    width: 100px;
    height: 106px;
  }
}
@media (max-width: 576px) {
  .nutrition-programs .image--cat-back {
    width: 50px;
    height: 53px;
  }
}
.nutrition-programs .image--cat-back-2 {
  top: 40px;
  width: 134px;
  height: 100px;
  background-image: url("/assets/images/cat_back_2.svg");
}
@media (max-width: 1260px) {
  .nutrition-programs .image--cat-back-2 {
    top: 30px;
  }
}
@media (max-width: 1028px) {
  .nutrition-programs .image--cat-back-2 {
    top: 0;
    width: 268px;
    height: 200px;
  }
}
@media (max-width: 760px) {
  .nutrition-programs .image--cat-back-2 {
    top: 25px;
    left: 25px;
    width: 134px;
    height: 100px;
  }
}
@media (max-width: 576px) {
  .nutrition-programs .image--cat-back-2 {
    width: 67px;
    height: 50px;
  }
}

@media (max-width: 1260px) {
  .steps {
    border-bottom: 1px solid var(--color-grey-border);
  }
}
.steps .title {
  margin-bottom: 32px;
  font-family: "Oswald";
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  font-size: 60px;
  line-height: 60px;
  text-align: left;
}
@media (max-width: 576px) {
  .steps .title {
    font-size: 36px;
    line-height: 40px;
  }
}
.steps .list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: start;
  column-gap: 70px;
  row-gap: 37px;
}
@media (max-width: 1260px) {
  .steps .list {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 137px;
  }
}
@media (max-width: 576px) {
  .steps .list {
    grid-template-columns: 1fr;
    row-gap: 20px;
    margin-bottom: 30px;
  }
}
.steps .item {
  position: relative;
  min-height: 280px;
  padding-top: 40px;
}
@media (max-width: 576px) {
  .steps .item {
    display: flex;
    gap: 20px;
    min-height: 60px;
    padding-top: 0;
  }
}
.steps .icon {
  width: 80px;
  height: 80px;
  margin-bottom: 31px;
  flex-shrink: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--color-green);
}
@media (max-width: 576px) {
  .steps .icon {
    width: 60px;
    height: 60px;
    margin-bottom: 0;
  }
}
.steps .icon--leaf {
  background-image: url("/assets/images/icon_leaf.svg");
}
.steps .icon--tub {
  background-image: url("/assets/images/icon_tub.svg");
}
.steps .icon--eat {
  background-image: url("/assets/images/icon_eat.svg");
}
.steps .icon--alarm {
  background-image: url("/assets/images/icon_alarm.svg");
}
.steps .step {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  font-family: "Oswald";
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  font-size: 280px;
  line-height: 280px;
  color: var(--color-grey);
}
@media (max-width: 576px) {
  .steps .step {
    display: none;
  }
}
.steps .description {
  text-align: left;
  color: var(--color-dark-grey);
}
@media (max-width: 576px) {
  .steps .description {
    font-size: 14px;
    line-height: 18px;
  }
}

.results-slider {
  position: absolute;
  top: 0;
  right: 60px;
  width: 690px;
  height: 656px;
}
@media (max-width: 1260px) {
  .results-slider {
    position: relative;
    right: 0;
  }
}
@media (max-width: 678px) {
  .results-slider {
    width: 311px;
    height: 388px;
  }
}
.results-slider .images {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  width: 690px;
  height: 500px;
}
@media (max-width: 678px) {
  .results-slider .images {
    width: 311px;
    height: 232px;
  }
}
.results-slider .images .slide {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
}
.results-slider .images .slide--before {
  clip-path: inset(0 327px 0 0);
}
@media (max-width: 678px) {
  .results-slider .images .slide--before {
    clip-path: inset(0 155.5px 0 0);
  }
}
.results-slider .images .slide--after {
  clip-path: inset(0 0 0 363px);
}
@media (max-width: 678px) {
  .results-slider .images .slide--after {
    clip-path: inset(0 0 0 155.5px);
  }
}
.results-slider .controller {
  position: absolute;
  bottom: 60px;
  right: 70px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  width: 100%;
  height: 40px;
}
@media (max-width: 678px) {
  .results-slider .controller {
    right: 8px;
  }
}
@media (max-width: 576px) {
  .results-slider .controller {
    right: 0;
    justify-content: center;
  }
}
.results-slider .controller-input--results {
  appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
  order: 2;
  width: 100%;
  max-width: 428px;
  height: 6px;
  border-radius: 6px;
  background-color: var(--color-grey-track);
}
@media (max-width: 576px) {
  .results-slider .controller-input--results {
    max-width: 84px;
    height: 14px;
    border: 1px solid var(--color-special-grey);
    background-color: var(--color-white);
    padding: 3px;
  }
}
.results-slider .controller-input--results:hover ~ .label {
  border-bottom: 1px solid var(--color-special-grey);
}
@media (max-width: 576px) {
  .results-slider .controller-input--results:hover ~ .label {
    border-bottom: 0;
  }
}
.results-slider .controller-input--results:active ~ .label {
  border-bottom: 1px solid transparent;
}
@media (max-width: 576px) {
  .results-slider .controller-input--results:active ~ .label {
    border-bottom: 0;
  }
}
.results-slider .controller-input--results:focus {
  outline: none;
}
.results-slider .controller-input--results:focus ~ .label {
  border-bottom: 1px solid transparent;
}
.results-slider .controller-input--results::-webkit-slider-runnable-track {
  cursor: pointer;
  width: 100%;
  height: 6px;
  border: 0;
  border-radius: 6px;
  background-color: var(--color-grey-track);
}
@media (max-width: 576px) {
  .results-slider .controller-input--results::-webkit-slider-runnable-track {
    max-width: 50%;
    background-color: var(--color-green);
  }
}
.results-slider .controller-input--results::-moz-range-track {
  cursor: pointer;
  width: 100%;
  height: 6px;
  border: 0;
  border-radius: 6px;
  background-color: var(--color-grey-track);
}
@media (max-width: 576px) {
  .results-slider .controller-input--results::-moz-range-track {
    max-width: 84px;
    height: 14px;
    background-color: var(--color-white);
  }
}
.results-slider .controller-input--results::-webkit-slider-thumb {
  -webkit-appearance: none;
  cursor: pointer;
  margin-top: -14px;
  border: 1px solid var(--color-special-grey);
  height: 34px;
  width: 34px;
  border-radius: 50%;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1607843137);
  background: var(--color-white) radial-gradient(circle, var(--color-green) 4px, transparent 4px);
}
@media (max-width: 576px) {
  .results-slider .controller-input--results::-webkit-slider-thumb {
    display: none;
  }
}
.results-slider .controller-input--results::-moz-range-thumb {
  border: 1px solid var(--color-special-grey);
  height: 34px;
  width: 34px;
  border-radius: 50%;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1607843137);
  background: var(--color-white) radial-gradient(circle, var(--color-green) 4px, transparent 4px);
  cursor: pointer;
}
.results-slider .controller-input--results:focus::-webkit-slider-thumb, .results-slider .controller-input--results:active::-webkit-slider-thumb {
  outline: none;
  border: 1px solid var(--color-green);
  transition: border 0.3s ease-in-out;
}
.results-slider .controller-input--results:focus::-moz-range-thumb, .results-slider .controller-input--results:active::-webkit-slider-thumb {
  outline: none;
  border: 1px solid var(--color-green);
  transition: border 0.3s ease-in-out;
}
.results-slider .label {
  padding-bottom: 5px;
  border-bottom: 1px dotted var(--color-special-grey);
  font-family: "Oswald";
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
}
.results-slider .label--before {
  order: 1;
}
.results-slider .label--after {
  order: 3;
}
@media (max-width: 576px) {
  .results-slider .label {
    font-size: 16px;
    line-height: 20px;
  }
}
@media (max-width: 576px) {
  .results-slider .label {
    border-bottom: 0;
  }
}

.results {
  position: relative;
}
@media (max-width: 1260px) {
  .results-content {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    width: 100%;
  }
}
@media (max-width: 768px) {
  .results-content {
    flex-direction: column;
    margin-bottom: 60px;
  }
}
@media (max-width: 576px) {
  .results-content {
    gap: 0;
  }
}
@media (max-width: 1260px) {
  .results-content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.results .title {
  width: 100%;
  margin-bottom: 146px;
  font-family: "Oswald";
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  font-size: 60px;
  line-height: 60px;
  text-align: left;
}
@media (max-width: 1260px) {
  .results .title {
    margin-bottom: 63px;
  }
}
@media (max-width: 576px) {
  .results .title {
    margin-bottom: 33px;
    font-size: 36px;
    line-height: 40px;
  }
}
.results .description {
  max-width: 440px;
  margin-bottom: 70px;
  text-align: left;
}
@media (max-width: 1260px) {
  .results .description {
    max-width: 100%;
  }
}
@media (max-width: 768px) {
  .results .description {
    margin-bottom: 54px;
  }
}
@media (max-width: 576px) {
  .results .description {
    margin-bottom: 25px;
    font-size: 14px;
    line-height: 18px;
  }
}
@media (max-width: 678px) {
  .results .description {
    color: var(--color-dark-grey);
  }
}
.results .data {
  display: flex;
  flex-direction: column;
  gap: 55px;
}
@media (max-width: 768px) {
  .results .data {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
  }
}
@media (max-width: 760px) {
  .results .data {
    flex-direction: column;
    align-items: flex-start;
  }
}
.results .modules {
  display: flex;
  gap: 42px;
}
@media (max-width: 576px) {
  .results .modules {
    justify-content: space-between;
    gap: 10px;
  }
}
.results .module {
  position: relative;
  min-width: 162px;
  padding: 20px;
  border: 1px solid var(--color-special-grey);
  border-radius: 3px;
}
@media (max-width: 576px) {
  .results .module {
    min-width: 124px;
    padding: 14px;
  }
}
.results .module .value {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 37px;
}
@media (max-width: 576px) {
  .results .module .value {
    font-size: 24px;
    line-height: 24px;
  }
}
.results .module .label {
  position: absolute;
  bottom: -12px;
  padding: 5px;
  font-size: 14px;
  line-height: 14px;
  text-wrap-mode: nowrap;
  background-color: var(--color-grey);
}
@media (max-width: 1260px) {
  .results .module .label {
    background-color: var(--color-white);
  }
}
@media (max-width: 678px) {
  .results .module .label {
    background-color: var(--color-grey-background-tablet);
  }
}
@media (max-width: 678px) {
  .results .module .label {
    color: var(--color-dark-grey);
  }
}
@media (max-width: 576px) {
  .results .module .label {
    width: 90px;
    bottom: -22px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 12px;
    line-height: 12px;
  }
}
.results .module .label--first {
  left: 26px;
}
@media (max-width: 576px) {
  .results .module .label--first {
    left: 20px;
    text-wrap-mode: wrap;
  }
}
@media (max-width: 576px) {
  .results .module .label--first {
    left: 15px;
  }
}
.results .module .label--second {
  left: 13px;
}
@media (max-width: 576px) {
  .results .module .label--second {
    left: 20px;
    text-wrap-mode: wrap;
  }
}
@media (max-width: 576px) {
  .results .module .label--second {
    left: 15px;
  }
}
.results .price-wrapper {
  display: flex;
  gap: 60px;
  font-family: "Oswald";
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .results .price-wrapper {
    flex-direction: column;
    align-items: flex-end;
    gap: 9px;
  }
}
@media (max-width: 760px) {
  .results .price-wrapper {
    flex-direction: row;
    gap: 60px;
  }
}
@media (max-width: 576px) {
  .results .price-wrapper {
    gap: 5px;
  }
}
.results-background--before {
  position: absolute;
  left: 0;
  top: 30%;
  z-index: -5;
  width: 100%;
  height: 70%;
  background-color: var(--color-grey);
}
@media (max-width: 1260px) {
  .results-background--before {
    top: 60%;
    height: 40%;
  }
}
@media (max-width: 678px) {
  .results-background--before {
    top: 0;
    height: 100%;
    background-color: var(--color-grey-background-tablet);
  }
}
.results-background--after {
  position: absolute;
  right: 0;
  top: 30%;
  z-index: -4;
  width: 387px;
  height: 70%;
  background-color: var(--color-grey-background);
}
@media (max-width: 1260px) {
  .results-background--after {
    display: none;
  }
}

/*# sourceMappingURL=styles.css.map */
