@use '../../variables';
@use '../../mixin';

.hero {
  position: relative;

  .content {
    position: relative;
    z-index: 9;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 414px;
    margin: 115px 80px;

    .title {
      @include mixin.font-oswald;

      margin-bottom: 40px;
      font-size: 60px;
      line-height: 60px;
      text-align: left;
      text-transform: none;

      @media (max-width: variables.$mobile-lg) {
        margin-bottom: 25px;
        font-size: 32px;
        line-height: 32px;
      }

      @media (max-width: variables.$mobile-md) {
        margin-bottom: 25px;
        color: var(--color-white);
        text-align: center;
      }
    }

    .description {
      @include mixin.font-oswald;

      margin-bottom: 52px;

      @media (max-width: variables.$mobile-lg) {
        font-size: 14px;
        line-height: 14px;
      }

      @media (max-width: variables.$mobile-md) {
        margin-bottom: 100vw;
        font-size: 14px;
        line-height: 14px;
        color: var(--color-white);
      }
    }

    .link {
      @include mixin.font-oswald;

      display: block;
      padding: 24px 14px;
      color: var(--color-white);
      background-color: var(--color-green);
      outline: transparent;
      transition:
        color 0.3s ease-in-out,
        background-color 0.3s ease-in-out;

      &:hover,
      &:focus {
        background-color: var(--color-green-2);
      }

      &:active {
        color: var(--color-white-30);
        background-color: var(--color-green-2);
      }

      @media (max-width: variables.$mobile-md) {
        width: 280px;
      }
    }

    @media (max-width: variables.$desktop-sm) {
      margin: 40px 80px;
    }

    @media (max-width: variables.$tablet-md) {
      margin: 0 80px calc(570px - (variables.$tablet-md - 100vw) * 0.5) 80px;
    }

    @media (max-width: variables.$tablet-sm) {
      max-width: 249px;
      margin: 0 0 calc(20px - (variables.$tablet-sm - 100vw) * 0.5);
    }

    @media (max-width: variables.$mobile-md) {
      align-items: center;
      max-width: 100%;
      margin: 0;
    }
  }

  &-background-cat {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-image: url('/src/assets/images/cat.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;

    @media (max-width: variables.$desktop-sm) {
      display: none;
    }

    @media (max-width: variables.$mobile-md) {
      display: block;
      background-image: url('/src/assets/images/cat-mobile.png');
      background-position: top;
    }
  }

  &-background-glass {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url('/src/assets/images/glass.png');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 552px;

    @media (max-width: variables.$desktop-sm) {
      right: 80px;
      background-position: right bottom;
    }

    @media (max-width: variables.$tablet-lg) {
      right: 40px;
      background-size: 452px;
    }

    @media (max-width: variables.$tablet-md) {
      right: 0;
      background-size: 100%;
    }

    @media (max-width: variables.$tablet-sm) {
      background-position: right bottom;
      background-size: 280px;
    }

    @media (max-width: variables.$mobile-lg) {
      background-size: 210px;
    }

    @media (max-width: variables.$mobile-md) {
      background-position: center 40vw;
      background-size: 100%;
    }

    @media (max-width: variables.$mobile-sm) {
      background-position: center 50vw;
    }
  }

  @media (max-width: variables.$mobile-md) {
    display: flex;
    justify-content: center;
  }
}
