@use '../../variables';
@use '../../mixin';
@use './slider';

.results {
  position: relative;

  &-content {
    @media (max-width: variables.$desktop-md) {
      display: flex;
      gap: 30px;
      justify-content: space-between;
      width: 100%;
    }

    @media (max-width: variables.$tablet-md) {
      flex-direction: column;
      margin-bottom: 60px;
    }

    @media (max-width: variables.$tablet-sm) {
      gap: 0;
    }
  }

  .title {
    @include mixin.font-oswald;

    width: 100%;
    margin-bottom: 146px;
    font-size: 60px;
    line-height: 60px;
    text-align: left;

    @media (max-width: variables.$desktop-md) {
      margin-bottom: 63px;
    }

    @media (max-width: variables.$tablet-sm) {
      margin-bottom: 33px;
      font-size: 36px;
      line-height: 40px;
    }
  }

  .description {
    max-width: 440px;
    margin-bottom: 70px;
    text-align: left;

    @media (max-width: variables.$desktop-md) {
      max-width: 100%;
    }

    @media (max-width: variables.$tablet-md) {
      margin-bottom: 54px;
    }

    @media (max-width: variables.$tablet-sm) {
      margin-bottom: 25px;
      font-size: 14px;
      line-height: 18px;
    }

    @media (max-width: variables.$tablet-slider) {
      color: var(--color-dark-grey);
    }
  }

  .data {
    display: flex;
    flex-direction: column;
    gap: 55px;

    @media (max-width: variables.$tablet-md) {
      flex-direction: row;
      gap: 30px;
      align-items: center;
      justify-content: space-between;
    }

    @media (max-width: variables.$tablet-nav) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  .modules {
    display: flex;
    gap: 42px;

    @media (max-width: variables.$tablet-sm) {
      gap: 10px;
      justify-content: space-between;
    }
  }

  .module {
    position: relative;
    min-width: 162px;
    padding: 20px;
    border: 1px solid var(--color-special-grey);
    border-radius: 3px;

    .value {
      @include mixin.font-oswald;

      font-size: 30px;
      line-height: 37px;

      @media (max-width: variables.$tablet-sm) {
        font-size: 24px;
        line-height: 24px;
      }
    }

    .label {
      position: absolute;
      bottom: -12px;
      padding: 5px;
      font-size: 14px;
      line-height: 14px;
      background-color: var(--color-grey);
      text-wrap-mode: nowrap;

      &--first {
        left: 26px;

        @media (max-width: variables.$tablet-sm) {
          left: 20px;
          text-wrap-mode: wrap;
        }

        @media (max-width: variables.$tablet-sm) {
          left: 15px;
        }
      }

      &--second {
        left: 13px;

        @media (max-width: variables.$tablet-sm) {
          left: 20px;
          text-wrap-mode: wrap;
        }

        @media (max-width: variables.$tablet-sm) {
          left: 15px;
        }
      }

      @media (max-width: variables.$desktop-md) {
        background-color: var(--color-white);
      }

      @media (max-width: variables.$tablet-slider) {
        background-color: var(--color-grey-background-tablet);
      }

      @media (max-width: variables.$tablet-slider) {
        color: var(--color-dark-grey);
      }

      @media (max-width: variables.$tablet-sm) {
        bottom: -22px;
        width: 90px;
        padding-right: 15px;
        padding-left: 15px;
        font-size: 12px;
        line-height: 12px;
      }
    }

    @media (max-width: variables.$tablet-sm) {
      min-width: 124px;
      padding: 14px;
    }
  }

  .price-wrapper {
    @include mixin.font-oswald;

    display: flex;
    gap: 60px;

    @media (max-width: variables.$tablet-md) {
      flex-direction: column;
      gap: 9px;
      align-items: flex-end;
    }

    @media (max-width: variables.$tablet-nav) {
      flex-direction: row;
      gap: 60px;
    }

    @media (max-width: variables.$tablet-sm) {
      gap: 5px;
    }
  }

  &-background--before {
    position: absolute;
    z-index: -5;
    top: 30%;
    left: 0;
    width: 100%;
    height: 70%;
    background-color: var(--color-grey);

    @media (max-width: variables.$desktop-md) {
      top: 60%;
      height: 40%;
    }

    @media (max-width: variables.$tablet-slider) {
      top: 0;
      height: 100%;
      background-color: var(--color-grey-background-tablet);
    }
  }

  &-background--after {
    position: absolute;
    z-index: -4;
    top: 30%;
    right: 0;
    width: 387px;
    height: 70%;
    background-color: var(--color-grey-background);

    @media (max-width: variables.$desktop-md) {
      display: none;
    }
  }

  @media (max-width: variables.$desktop-md) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
