@use "../../variables";
@use "../../mixin";

.steps {
  @media (max-width: variables.$desktop-md) {
    border-bottom: 1px solid var(--color-grey-border);
  }

  .title {
    margin-bottom: 32px;

    @include mixin.font-oswald;
    font-size: 60px;
    line-height: 60px;
    text-align: left;

    @media (max-width: variables.$tablet-sm) {
      font-size: 36px;
      line-height: 40px;
    }
  }

  .list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: start;
    column-gap: 70px;
    row-gap: 37px;

    @media (max-width: variables.$desktop-md) {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 137px;
    }

    @media (max-width: variables.$tablet-sm) {
      grid-template-columns: 1fr;
      row-gap: 20px;
      margin-bottom: 30px;
    }
  }

  .item {
    position: relative;
    min-height: 280px;
    padding-top: 40px;

    @media (max-width: variables.$tablet-sm) {
      display: flex;
      gap: 20px;
      min-height: 60px;
      padding-top: 0;
    }
  }

  .icon {
    width: 80px;
    height: 80px;
    margin-bottom: 31px;
    flex-shrink: 0;

    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--color-green);

    @media (max-width: variables.$tablet-sm) {
      width: 60px;
      height: 60px;
      margin-bottom: 0;
    }

    &--leaf {
      background-image: url("/assets/images/icon_leaf.svg");
    }

    &--tub {
      background-image: url("/assets/images/icon_tub.svg");
    }

    &--eat {
      background-image: url("/assets/images/icon_eat.svg");
    }

    &--alarm {
      background-image: url("/assets/images/icon_alarm.svg");
    }
  }

  .step {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;

    @include mixin.font-oswald;
    font-size: 280px;
    line-height: 280px;
    color: var(--color-grey);

    @media (max-width: variables.$tablet-sm) {
      display: none;
    }
  }

  .description {
    text-align: left;
    color: var(--color-dark-grey);

    @media (max-width: variables.$tablet-sm) {
      font-size: 14px;
      line-height: 18px;
    }
  }
}
