@use '../../variables';
@use '../../mixin';

.steps {
  .title {
    margin-bottom: 32px;
    font-size: 60px;
    line-height: 60px;
    text-align: left;

    @include mixin.font-oswald;

    @media (max-width: variables.$tablet-sm) {
      font-size: 36px;
      line-height: 40px;
    }
  }

  .list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 37px 70px;
    justify-items: start;

    @media (max-width: variables.$desktop-md) {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 137px;
    }

    @media (max-width: variables.$tablet-sm) {
      grid-template-columns: 1fr;
      row-gap: 20px;
      margin-bottom: 30px;
    }
  }

  .item {
    position: relative;
    min-height: 280px;
    padding-top: 40px;

    @media (max-width: variables.$tablet-sm) {
      display: flex;
      gap: 20px;
      min-height: 60px;
      padding-top: 0;
    }
  }

  .icon {
    flex-shrink: 0;
    width: 80px;
    height: 80px;
    margin-bottom: 31px;
    background-color: var(--color-green);
    background-repeat: no-repeat;
    background-position: center;

    &--leaf {
      background-image: url('/src/assets/images/icon_leaf.svg');
    }

    &--tub {
      background-image: url('/src/assets/images/icon_tub.svg');
    }

    &--eat {
      background-image: url('/src/assets/images/icon_eat.svg');
    }

    &--alarm {
      background-image: url('/src/assets/images/icon_alarm.svg');
    }

    @media (max-width: variables.$tablet-sm) {
      width: 60px;
      height: 60px;
      margin-bottom: 0;
    }
  }

  .step {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    font-size: 280px;
    line-height: 280px;
    color: var(--color-grey);

    @include mixin.font-oswald;

    @media (max-width: variables.$tablet-sm) {
      display: none;
    }
  }

  .description {
    color: var(--color-dark-grey);
    text-align: left;

    @media (max-width: variables.$tablet-sm) {
      font-size: 14px;
      line-height: 18px;
    }
  }

  @media (max-width: variables.$desktop-md) {
    border-bottom: 1px solid var(--color-grey-border);
  }
}
