@use 'mixin';

@font-face {
  font-family: Oswald;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('/src/assets/fonts/Oswald-Regular.ttf') format('truetype');
}

:root {
  --color-black: #000;
  --color-white: #fff;
  --color-white-30: #ffffff30;
  --color-green: #68b738;
  --color-green-2: #5eaa2f;
  --color-grey: #f2f2f2;
  --color-grey-2: #666;
  --color-dark-grey: #444;
  --color-light-grey: #d9d9d9;
  --color-grey-border: #e6e6e6;
  --color-grey-background: #eaeaea;
  --color-special-grey: #cdcdcd;
  --color-grey-track: #dcdcdc;
  --color-grey-background-tablet: #eaeaea;
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

img {
  max-width: 100%;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

button {
  cursor: pointer;
}

button,
input {
  padding: 0;
  border: none;
  background-color: transparent;

  &:disabled {
    cursor: default;
  }
}

body {
  position: relative;
  overflow-x: hidden;
  min-width: 320px;
  max-width: 1440px;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.container {
  @include mixin.container;
}

.separator {
  display: none;
}
