@use 'global';
@use './components/header';
@use './components/home/hero';
@use './components/home/nutrition-programs';
@use './components/home/steps';
@use './components/home/results';
@use './components/map';
@use './components/footer';
