$mobile-xs: 320px;
$mobile-sm: 380px;
$mobile-md: 420px;
$mobile-lg: 480px;
$tablet-sm: 576px;
$tablet-slider: 678px;
$tablet-nav: 760px;
$tablet-md: 768px;
$tablet-lg: 992px;
$desktop-xxs: 1028px;
$desktop-xs: 1110px;
$desktop-sm: 1200px;
$desktop-md: 1260px;
