@use '../../variables';
@use '../../mixin';

.programs-page .form {
  @include mixin.font-oswald;

  text-align: left;
  color: var(--color-dark-grey);

  .container {
    @media (max-width: variables.$tablet-lg) {
      padding-left: 70px;
      padding-right: 70px;
    }

    @media (max-width: variables.$tablet-catalog) {
      padding-left: 22px;
      padding-right: 22px;
    }
  }

  .title {
    text-transform: none;
    text-align: left;
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 56px;
    color: var(--color-black);

    @media (max-width: variables.$tablet-lg) {
      position: relative;
      left: -40px;
    }

    @media (max-width: variables.$tablet-catalog) {
      left: 0;
      font-size: 36px;
      line-height: 36px;
    }
  }

  .section-title {
    position: absolute;
    top: -33px;
    left: 70px;
    max-width: max-content;
    padding: 10px 40px;
    font-size: 36px;
    line-height: 36px;
    text-transform: none;
    text-align: left;
    color: var(--color-black);
    background-color: var(--color-white);

    @media (max-width: variables.$tablet-lg) {
      left: 30px;
    }

    @media (max-width: variables.$tablet-catalog) {
      padding: 10px 20px;
      font-size: 24px;
      line-height: 26px;
      top: -28px;
      left: 0;
      max-width: 240px;
    }
  }

  &-section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-top: 2px solid var(--color-green);
    padding-top: 80px;
    padding-bottom: 80px;

    @media (max-width: variables.$tablet-catalog) {
      padding-top: 60px;
      padding-bottom: 60px;
    }
  }

  .description {
    max-width: 323px;
    font-size: 20px;
    line-height: 30px;
    text-align: left;
    color: var(--color-black);

    @media (max-width: variables.$tablet-catalog) {
      font-size: 14px;
      line-height: 18px;
    }
  }

  .label {
    text-wrap-mode: nowrap;

    @media (max-width: variables.$tablet-catalog) {
      font-size: 16px;
      line-height: 18px;
    }
  }

  .input {
    @include mixin.font-oswald;

    position: relative;
    outline: none;
    width: 100%;
    height: 52px;
    padding: 10px 20px;
    border: 1px solid var(--color-grey-border-2);
    color: var(--color-dark-grey);
    transition: border 0.3s ease-in-out;

    @media (max-width: variables.$tablet-catalog) {
      height: 46px;
      padding: 10px 14px;
    }

    &:focus,
    &:active {
      border: 2px solid var(--color-dark-grey);
    }

    &:not(:placeholder-shown):invalid {
      border-color: var(--color-error);
    }

    &::placeholder {
      @include mixin.font-oswald;

      font-size: 16px;
      line-height: 18px;
      color: var(--color-dark-grey);
      opacity: 1;
    }

    &:-webkit-input-placeholder {
      @include mixin.font-oswald;

      font-size: 16px;
      line-height: 18px;
      color: var(--color-dark-grey);
    }
  }

  .wrapper {
    &-title {
      padding-top: 0;
      padding-bottom: 0;

      @media (max-width: variables.$tablet-catalog) {
        padding-top: 30px;
        border-top: 1px solid var(--color-light-grey);
      }
    }

    &-inputs {
      display: flex;
      justify-content: space-between;
      gap: 80px;
      width: 100%;

      @media (max-width: variables.$tablet-lg) {
        flex-direction: column;
        gap: 20px;
      }
    }

    &-input {
      display: flex;
      align-items: center;
      gap: 13px;
      width: 100%;
    }

    &-personal {
      display: flex;
      gap: 30px;
      width: 100%;
      margin-bottom: 40px;

      .data-pet {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 50%;

        @media (max-width: variables.$tablet-lg) {
          width: 100%;
        }
      }

      @media (max-width: variables.$tablet-lg) {
        flex-direction: column;
      }
    }

    &-goal {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      gap: 13px;
      width: 50%;
      padding: 25px;
      border: 1px solid var(--color-grey-border-2);

      @media (max-width: variables.$tablet-lg) {
        width: 100%;
      }

      @media (max-width: variables.$tablet-catalog) {
        position: relative;
        border: 0;
        padding: 25px 0;

        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: calc(100% + 50px);
          height: 1px;
          transform: translate(-22px);
          background-color: var(--color-light-grey);
        }

        &::after {
          content: '';
          position: absolute;
          left: 0;
          bottom: 0;
          width: calc(100% + 50px);
          height: 1px;
          transform: translate(-22px);
          background-color: var(--color-light-grey);
        }
      }
    }

    &-radio {
      display: flex;
      gap: 20px;
    }

    &-textarea {
      width: 100%;
    }

    &-button {
      display: flex;
      align-items: center;
      gap: 80px;
      width: 100%;
      padding-top: 10px;
      padding-bottom: 60px;

      @media (max-width: variables.$tablet-lg) {
        gap: 60px;
      }

      @media (max-width: variables.$tablet-catalog) {
        flex-direction: column;
        gap: 20px;
      }

      .text-required {
        font-family: Arial;
        font-size: 16px;
        line-height: 16px;
        text-transform: none;
        color: var(--color-black);

        @media (max-width: variables.$tablet-catalog) {
          font-size: 14px;
        }
      }
    }
  }

  .textarea {
    @include mixin.font-oswald;

    width: 100%;
    height: 174px;
    padding: 12px 16px;
    border: 2px solid var(--color-grey-border-2);
    resize: none;
    scrollbar-width: thin;
    scrollbar-color: transparent;
    outline: none;
    color: var(--color-dark-grey);
    text-transform: none;

    &::placeholder {
      @include mixin.font-oswald;

      color: var(--color-dark-grey);
      opacity: 1;

      @media (max-width: variables.$tablet-catalog) {
        font-size: 14px;
        line-height: 18px;
      }
    }
  }

  .additionally-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px 104px;
    padding-bottom: 40px;
    color: var(--color-black);

    @media (max-width: variables.$desktop-xs) {
      grid-template-columns: repeat(2, 1fr);
      gap: 30px 104px;
    }

    @media (max-width: variables.$tablet-catalog) {
      grid-template-columns: 1fr;
      row-gap: 13px;
    }

    .checkbox-wrapper {
      display: flex;
      gap: 20px;
    }

    .checkbox-label {
      text-wrap-mode: nowrap;
    }
  }

  .submit-button {
    @include mixin.green-button;

    width: 568px;
    height: 52px;

    @media (max-width: variables.$tablet-lg) {
      width: max-content;
    }
  }

  .wrapper-radio .label {
    position: relative;
    display: flex;
    align-items: center;
    height: 40px;
    padding-left: 70px;
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;

    @media (max-width: variables.$tablet-catalog) {
      height: 30px;
    }

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 40px;
      height: 40px;
      border: 1px solid var(--color-special-grey);
      border-radius: 50%;
      background: var(--color-white);
      transition: border-color 0.3s ease-in-out;

      @media (max-width: variables.$tablet-catalog) {
        width: 30px;
        height: 30px;
      }
    }

    &::after {
      content: '';
      position: absolute;
      left: 11px;
      top: 11px;
      width: 18px;
      height: 18px;
      transform: scale(0);
      border-radius: 50%;
      background: var(--color-green);
      transition: transform 0.3s ease-in-out;

      @media (max-width: variables.$tablet-catalog) {
        left: 8.5px;
        top: 8.5px;
        width: 13.5px;
        height: 13.5px;
      }
    }
  }

  .radio {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;

    &:checked + .label::after {
      transform: scale(1);
    }

    &:focus + .label::before,
    &:hover + .label::before {
      border-color: var(--color-grey-border-3);
    }

    &:active + .label {
      opacity: 0.3;
    }
  }

  .checkbox {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;

    &-label {
      position: relative;
      display: flex;
      align-items: center;
      height: 40px;
      padding-left: 60px;
      cursor: pointer;
      transition: opacity 0.3s ease;

      @media (max-width: variables.$tablet-catalog) {
        height: 30px;
        padding-left: 50px;
      }

      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 40px;
        height: 40px;
        border: 1px solid var(--color-special-grey);
        background: var(--color-white);

        @media (max-width: variables.$tablet-catalog) {
          width: 30px;
          height: 30px;
        }
      }

      &::after {
        content: '';
        position: absolute;
        left: 7px;
        top: 7px;
        width: 26px;
        height: 26px;
        transform: scale(0);
        background-image: url('/src/assets/images/mark.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        transition: transform 0.3s ease;

        @media (max-width: variables.$tablet-catalog) {
          left: 5px;
          top: 2px;
          width: 20px;
        }
      }
    }

    &:checked + .checkbox-label {
      &::after {
        transform: scale(1);
      }
    }

    &:focus + .checkbox-label,
    &:hover + .checkbox-label {
      opacity: 0.3;
    }
  }

  .owner-email,
  .owner-tel {
    position: relative;

    & .input {
      padding-right: 40px;

      @media (max-width: variables.$tablet-catalog) {
        padding-right: 20px;
      }
    }

    &::after {
      content: '';
      position: absolute;
      right: 18px;
      width: 20px;
      height: 20px;
      mask-repeat: no-repeat;
      mask-position: center;
      background-color: var(--color-catalog-title);
      transition: background-color 0.3s ease-in-out;

      @media (max-width: variables.$tablet-catalog) {
        right: 12px;
      }
    }

    &:focus-within::after,
    & .input:active ~ ::after {
      background-color: var(--color-green);
    }

    &:has(.input:not(:placeholder-shown):invalid)::after {
      background-color: var(--color-error);
    }
  }

  .owner-email::after {
    mask-image: url('/src/assets/images/icon_email.svg');
  }

  .owner-tel::after {
    mask-image: url('/src/assets/images/icon_phone.svg');
  }
}
